/* @license
 * MyFonts Webfont Build ID 2689346, 2013-11-15T05:38:14-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Flexy Sans Bold by AKTF
 * URL: http://www.myfonts.com/fonts/andrey-kudryavtsev/flexy-sans/bold/
 * 
 * Webfont: Flexy Sans Medium by AKTF
 * URL: http://www.myfonts.com/fonts/andrey-kudryavtsev/flexy-sans/medium/
 * 
 * Webfont: Flexy Sans by AKTF
 * URL: http://www.myfonts.com/fonts/andrey-kudryavtsev/flexy-sans/regular/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2689346
 * Licensed pageviews: 20,000
 * Webfonts copyright: Copyright (c) 2011 by Andrey Kydryavtsev. All rights reserved. fonterior@gmail.com
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/290942");

  
@font-face {font-family: 'flexysans-bold';src: url('webfonts/290942_0_0.eot');src: url('webfonts/290942_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/290942_0_0.woff') format('woff'),url('webfonts/290942_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'flexysans-Medium';src: url('webfonts/290942_1_0.eot');src: url('webfonts/290942_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/290942_1_0.woff') format('woff'),url('webfonts/290942_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'flexysans';src: url('webfonts/290942_2_0.eot');src: url('webfonts/290942_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/290942_2_0.woff') format('woff'),url('webfonts/290942_2_0.ttf') format('truetype');}
 