
.menu_block  {
	z-index: 999;
	position: relative;
	text-align: center;
	background-color: #252b33;
	/*margin-top: -1px; by Kate*/
	padding: 32px 0 24px;
}

.menu_block >nav {

}


nav>.sf-menu {
	z-index: 999;
	text-align: center;
	position: relative;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	z-index: 900;
	float: none;
	display: inline-block;
	position: relative;
	font-size: 15px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: flexysans, sans-serif;
}

.sf-menu>li+li {
	margin-left: 42px;
}


.sf-menu>li>ul>li {
  float: none;
  position: static;
}


.sf-menu>li>a{
	overflow: hidden;
	position: static;
	z-index: 999;
	text-transform: uppercase;
	color: #68707b;
	letter-spacing: 1px;
}


.sf-menu>li>a.sf-with-ul:after {
	position: absolute;
	content: '';
	left: 50%;
	margin-left: -3px;
	width: 7px;
	background: url(../images/arrows.png) 0 bottom no-repeat;
	height: 5px;
	bottom: -12px;
	pointer-events: none;
	z-index: 999;
	display: block;
}



.sf-menu>li:hover>a, .sf-menu>li.sfHover>a, .sf-menu>li.current>a {
	color: #fff;
}
 
.sf-menu>li>ul>li>a>span {
	position: absolute;
	width: 7px;
	background: url(../images/arrows.png) 0 bottom;
	height: 5px;
	left: 50%;
	margin-left: -3px;
	bottom: -6px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>ul>li.sfHover>a>span {
	background-position: 0 0;
}


.sf-menu a{

}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	top: 48px;
	width: 148px;
	left: 50%;
	margin-left: -74px;
	background: #59c185;
	z-index: 999; 
	padding-top: 25px;
	padding-bottom: 16px;

}


.sf-menu li ul li{
	position: relative;
	text-align: center;
	float: none !important;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 30px;
}


.sf-menu li ul li a{
	letter-spacing: 1px;
	position: relative;
	z-index: 999;
	color:#fff;

}





.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #252b33;

}

/*================================>> 3 Level <<========================================*/
.sf-menu li.sfHover li.sfHover ul{
	position: relative;
	padding-top: 0px;
	top: 0;
	padding-bottom: 17px;

}


.sf-menu li.sfHover li.sfHover ul li a {
	color: #fff;
}

.sf-menu li.sfHover li.sfHover ul li a:hover {
	color: #252b33;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {

.sf-menu>li>a {

}

}

@media only screen and (max-width: 767px) {
	.menu_block {
		float: none !important;
		padding: 22px 10px 25px !important;
		clear: both;
		min-height: 0px;
  	border: none;
	}


  header nav{
  	border: none !important;
		float:none;
		/*font:12px/15px Arial, Helvetica, sans-serif;*/
		font-family: flexysans, sans-serif;
		text-transform:uppercase;
		color:#927c67;
		margin: 0 auto;
		
	
	}

  header nav ul {
  	border: none;
  }

	.sf-menu{display:none !important; float: none;}
	#mm0{
		/*font:12px/15px Arial, Helvetica, sans-serif;*/
		font-family: flexysans, sans-serif;
		color:#202020;
		width:100%;
		margin: 0 auto;
		float: none;
    outline: none;
		border:2px solid #fff;
	}
	
	.search_block {
		padding-bottom: 10px !important;	
	}
}
