{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}Страница не найдена (404 Not Found){% endblock %}
{% block service_act %}current{% endblock %}
{% block content %}
		<style>
		.block404{
			text-align: left;
			margin-left: 200px;
		}
		.block404 li{
			margin-left: 30px;
		}
		</style>
		<div class="content">
			<div class="container_12 center">
		    <div class="grid_12 block404">
		      <h3>Страница не найдена (404 Not Found)</h3>
				К сожалению, запрашиваемая Вами страница не найдена на сайте нашей компании.<br />
				Мы приносим свои извинения за доставленные неудобства и предлагаем следующие пути:<br />
				<ul>
				    <li>перейти на <a class="lnk404" href="/">главную страницу</a> или <a class="lnk404" href="/sitemap/">карту сайта</a>;</li>
				    <li>связаться с нами по телефону +7 (495) 643-08-87;</li>
				    <li>написать письмо (<a class="lnk404" href="mailto:hello@loochpictures.ru">hello@loochpictures.ru</a>) нашим сотрудникам.</li>
				</ul>
			</div>
			</div>
		</div>
{% endblock %}

