{% extends 'base.html' %}
{% block page_title %}{{ html_attributes.page_title }}{% endblock %}
{% block page_keywords %}{{ html_attributes.page_keywords }}{% endblock %}
{% block page_description %}{{ html_attributes.page_description }}{% endblock %}
{% block contact_act %}current{% endblock %}

<!--==============================Content=================================-->
{% block content %}
<div class="content">
		<div class="container_12">
		<div class="grid_12">
		<span class = "breadcrumbs">
    		<a href="/">Главная</a> > {{ html_attributes.page_title }}
    	</span>
		</div>
		</div>
  <div class="container_12">
    <div class="grid_6">
      <h3>Найти нас</h3>
      <div class="map">
        <figure class=" ">
          <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=N10NOSHo185LJu82eAf_roGpxeNf69WJ&width=600&height=450"></script>
        </figure>
      </div>
    </div>
    <div class="grid_6">
      <h3>Связаться с нами</h3>
        <address>
          <dl>
            <dt>
            {{ contacts.adress }}
            </dt>
            <dd><span>Телефон: </span>{{ contacts.phone }}</dd>
            <dd><span>FAX: </span>{{ contacts.fax }}</dd>
            <dd><span>E-mail: </span><a href="{{ contacts.email }}">{{ contacts.email }}</a></dd>
          </dl>
        </address>
    </div>
  </div>
</div>
{% endblock %}