<!DOCTYPE html>
<!--
/* @license
 * MyFonts Webfont Build ID 2689346, 2013-11-15T05:38:14-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Flexy Sans Bold by AKTF
 * URL: http://www.myfonts.com/fonts/andrey-kudryavtsev/flexy-sans/bold/
 * 
 * Webfont: Flexy Sans Medium by AKTF
 * URL: http://www.myfonts.com/fonts/andrey-kudryavtsev/flexy-sans/medium/
 * 
 * Webfont: Flexy Sans by AKTF
 * URL: http://www.myfonts.com/fonts/andrey-kudryavtsev/flexy-sans/regular/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2689346
 * Licensed pageviews: 20,000
 * Webfonts copyright: Copyright (c) 2011 by Andrey Kydryavtsev. All rights reserved.
 * fonterior@gmail.com
 * 
 * © 2013 MyFonts Inc
*/

-->
<html lang="ru">
     <head>
     <title>{{ html_attributes.page_title }}</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <meta name="keywords" content="{{ html_attributes.page_keywords }}">
     <meta name="description" content="{{ html_attributes.page_description }}">
     <meta name="google-site-verification" content="V6HWqjyC1KEqPXsdgmiZzQFDpKGW_UpsJtLlMZLxgfk" />
     
     <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico">
     <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
     <link rel="stylesheet" href="{{ STATIC_URL }}css/parallax/style.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}font/flexy_sans/MyFontsWebfontsKit.css">
     <link rel="stylesheet" href="{{ STATIC_URL }}css/responsiveslide/responsiveslides.css">
     
     <script src="{{ STATIC_URL }}js/jquery.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> <!-- нельзя ставить после mobilemenu -->
     <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.js"></script>
     <script src="{{ STATIC_URL }}js/script.js"></script> 
     <script src="{{ STATIC_URL }}js/superfish.js"></script>
     <script src="{{ STATIC_URL }}js/jquery.equalheights.js"></script>
     <script src="{{ STATIC_URL }}js/jquery.mobilemenu.js"></script>
     <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
     <script src="{{ STATIC_URL }}js/parallax/jquery.cslider.js"></script>
     <script src="{{ STATIC_URL }}js/responsiveslide/responsiveslides.min.js"></script><!-- нельзя ставить перед cslider -->
     <script src="{{ STATIC_URL }}js/parallax/modernizr.custom.28468.js"></script>
     <script src="{{ STATIC_URL }}js/scroll.js"></script>
     <script src="{{ STATIC_URL }}js/google.js"></script>
	 <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	jQuery(function($){
	   $(".tel").mask("+7(999)999-99-99");
	});
	</script>
        
    {% load staticfiles %}
    {% load thumbnail %}

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">

      <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-55594048-1', 'auto');
	  ga('send', 'pageview');
	
	</script>

     </head>

<body class="page1" id="top">
<!--==============================header=================================-->
<header>
  <div class="h_top">
    <div class="container_12 wide">
      <div class="grid_12 rel wide">
        <h1>
          <a class="logo" href="{% url 'index' %}">
          LOOCHPICTURES<br>
            <span>production company</span>
          </a>
        </h1>
        <ul class="rslides">
          {% for teaser in main_teasers %}
          {% thumbnail teaser.image "1280x490" crop="center" as im %}
          <li>
            <img src="{{ im.url }}" alt="{{ teser.html_alt }}" title="{{ teser.html_title }}">
          </li>
          {% endthumbnail %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
<!-- Начало Меню ========================================================-->
  <div class="darkgrey">
    <div class="container_12" id="menu_container12">
      <div class="grid_12 center" id="grid_12_main_menu">
        <div class="menu_block">
          <nav id="nav" class="horizontal-nav full-width horizontalNav-notprocessed">
            <ul class="sf-menu">
              <li class="current"> <a href="{% url 'index' %}"> главная </a>
                <ul>
                  <li><a href="#" onclick="goToByScroll('company'); return false;">О компании</a></li>
                  <li><a href="#" onclick="goToByScroll('service_short'); return false;">Услуги кратко</a></li>
                  <li><a href="#" onclick="goToByScroll('new'); return false;">Новое</a></li>
                </ul>
              </li>
              <li> <a href="{% url 'services' %}"> услуги </a> </li>
              <li> <a href="{% url 'projects' %}"> проекты </a> </li>
              <li> <a href="{% url 'contact' %}"> контакты </a> </li>
			  <li class="head_contacts">
				<div id="callback_button">
					<span class='callback_icon'>
					&#9743;
					</span>
				</div>
                <div id="callback_button_layer">
				</div>
				<div>
					{{ contact.phone }}
				</div>
				<div>
					Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
				</div>
				<div>
					{{ contact.adress }}
				</div>
				<div class="callback_popup">
					<span class="popup_title">
						Заказать бесплатный звонок
						<span class="close_modal"></span>
					</span>
                    <form action="/" id="callback_form">
					
					<label for="name">
						Ваше имя:
					</label>
					<input id="callback_user_name" name="name" type="text" required>
					
					<label for="tel">
						Телефон:
					</label>
					{% csrf_token %}
					<input id="callback_user_tel" name="tel"  class='tel' type="text" required>
					<a href="#" id="callback_submit"> Перезвоните мне</a>
                    </form>
				</div>
			  </li>			  
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
      
    </div>
  </div>
<!-- Конец Меню ========================================================-->
</header>
<!--==============================Content=================================-->
<div class="content">

<!-- Начало О Компании ========================================================-->
  <div id="company" class="container_12">
    <div class="grid_12 center">
      <div id="da-slider" class="da-slider">
        {% for company in company_info %}
        <div class="da-slide">
          <h2 class="center">{{ company.title }}</h2>
          <p class="center">{{ company.description }}</p>
        </div>
        {% endfor %}
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
    </div>
  </div>
<!-- Конец О Компании ========================================================-->

<!-- Начало Услуги кратко ========================================================-->
  <div id="service_short" class="blue center">
    <div class="container_12">
      {% for service in services_to_main %}
      <div class="grid_3">
        <h3>{{ service.title }}</h3>
          <div class="thumb-pad1">
            <div class="thumbnail clearfix">
			{% if service.page_alias %}
				<a href="/service_details/{{ service.page_alias }}/">
			{% else %}
				<a href="/service_details/{{ service.id }}/">
			{% endif %}
              
                <figure>
                  {% thumbnail service.image "182x182" crop="center" as im %}
                  <img alt="{{ service.image_alt }}" title="{{ service.image_title }}" src="{{ im.url }}">
                  {% endthumbnail %}
                  <em></em>
                </figure>
              </a>
            </div>
          </div>
		  {% if service.page_alias %}
			<a href="/service_details/{{ service.page_alias }}/">
		  {% else %}
			<a href="/service_details/{{ service.id }}/">
	      {% endif %}
        {{ service.veryshort_description }}
        </a>
      </div>
      {% endfor %}
    </div>
    <a href="/services/" class="link1">читать далее</a>
  </div>
<!-- Конец Услуги кратко ========================================================-->

<!-- Начало Новое ========================================================-->  	
  <div id="new" class="container_12 ind1">
    <div class="grid_12">
      <h3 class="center head1">Новое</h3>
    </div>
    {% if latest_project_list %}
    {% for project in latest_project_list.all %}
    <div class="grid_6">
      <div class="thumb-pad1 tp1">
        <div class="thumbnail clearfix">
          <a href="/project_details/{{ project.id }}/">
            <figure>
             {% thumbnail project.cover_image "182x182" crop="center" as im %}
              <img alt="{{ project.html_alt }}" title="{{ project.html_title }}" src="{{ im.url }}">
              {% endthumbnail %}
              <em></em>
            </figure>
          </a>
        </div>
      </div>
      <div class="extra_wrapper">
        <p class="p1"><strong class="col2 upp">{{ project.title }}</strong></p>
        {{ project.short_description }}
        <br>
        <a href="/project_details/{{ project.id }}/" class="btn">читать далее</a>
      </div>
    </div>
    {% if forloop.counter == 2 %}
    <div class="clear cl1"></div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
<!-- Конец Новое ========================================================-->

</div>

<!--==============================footer=================================-->
<footer> 
  <div class="container_12">
    <a href="#" onclick="goToByScroll('top'); return false;" class="top"></a>
      <div class="grid_12">
	      <div class="copyright_main">
	      	&copy; {{ year }} loochpictures - <a href="http://loochpictures.ru/">production company</a><br />
	      	<a href=http://digital.ingate.ru/>Оптимизация и продвижение сайта</a> – Ingate<br />
			<a href="/sitemap/">Карта сайта</a>
	      </div>
		  
	      <div class="contacts">        
		      <div class="phone">
			      {{ contact.phone }}
		      </div>
		      	{{ contact.adress }}<br />
		      	<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
	      </div>
  	  </div>
	</div>
</footer>

<script src="{{ STATIC_URL }}js/blueimp/blueimp-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/bothsliders.js"></script>
<!-- Yandex.Metrika counter -->
<script src="{{ STATIC_URL }}js/yandex.js"></script>
<noscript><div><img src="//mc.yandex.ru/watch/24187030" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">
$(function() {
    $('#callback_button_layer, .close_modal').click(function(){
		$('.callback_popup').toggle();
	   });
    $('#callback_submit').click(function(){
        var msg   = $('#callback_form').serialize();
        if($('#callback_user_name').val()==''){
            alert('Пожалуйста, представьтесь');
            return false;
        };
        if($('#callback_user_tel').val()==''){
            alert('Пожалуйста, укажите номер телефона');
            return false;
        };
        $.ajax({
          type: 'POST',
          url: '/callback/',
          data: msg,
          success: function(data) {
            $('#callback_form').html('<span class="callback_result">'+data+'</span>');
          },
          error:  function(xhr, str){
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
		$('#callback_form').html('<span class="callback_result">Ваша заявка принята, скоро мы перезвоним Вам.</span>');
        return false;
    });
});
</script>
</body>
</html>