{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ project.title }}{% endblock %}
{% block page_keywords %}{{ project.page_keywords }}{% endblock %}
{% block page_description %}{{ project.page_description }}{% endblock %}

<!--==============================Content=================================-->
{% block content %}
<div class="content">
  <div class="container_12">
  <span class = "breadcrumbs">
    		<a href="/">Главная</a> > <a href="/services">{{ html_attributes.page_title }}</a> > {{ project.title }}
    	</span>
    <div class="grid_12 center">
      <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
      <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
      </div>
      <div id="links">
        {% for video in project.projectvideo_set.all %}
        {% thumbnail video.video_image "940x529" crop="center" as cover %}
        <a
        href="{{ video }}"
        data-vimeo="{{ video.vimeo_number }}"
        type="text/html"
        data-poster="{{ cover.url }}"
        rel = "nofollow"
        >
        </a>
        {% endthumbnail %}
        {% endfor %}

        {% for image in project.image_set.all %}
        {% thumbnail image "940x529" crop="center" as im %}
        <a href="{{ im.url }}" title=""></a>
        {% endthumbnail %}
        {% endfor %}
      </div>
      <!-- end the Gallery Blueimp -->
      <div class="project_details">
        <h1 class="center details_h">{{ project.title }}</h1>
        <p>{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>

<script src="{{ STATIC_URL }}js/blueimp/blueimp-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/blueimplocal.js"></script>

{% endblock %}