{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}{{ html_attributes.page_title }}{% endblock %}
{% block page_keywords %}{{ html_attributes.page_keywords }}{% endblock %}
{% block page_description %}{{ html_attributes.page_description }}{% endblock %}
{% block service_act %}current{% endblock %}
{% block content %}

<div class="container_12">
<div id="ya-site-results" onclick="return {'tld': 'ru','language': 'ru','encoding': '','htmlcss': '1.x','updatehash': true}"></div><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0];s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Results.init();})})(window,document,'yandex_site_callbacks');</script>
</div>

{% endblock %}